@import url('https://fonts.googleapis.com/css2?family=Allura&family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #cefdf9 0%, #8dd1ff 40%,#eb60a1 60%,#9821c0 100%);
    background-size: 200% 200%;
    animation: float 6s linear infinite alternate; 
}
@keyframes float {
    from{background-position: 0 0 ;}
    to{background-position: 100% 100%;}
}

section{
    padding: 45px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    box-shadow: 2px 15px 20px rgba(61,61,61,.4);
}

header img {
    width: 190px;
    border-radius: 50%;
    border: 10px solid transparent;
    font-size: 40px;
    background-color: #ff96ca;
}

header img:hover { 
    border: 20px solid #c42964;
    transition: 1s; 
}

header h3 {
    color: #c42964;
    font-size: 1.35rem;
}
header h3:hover {
    color: #000000;
    transition: 1s; 
}

header p {
    color: #ffffff;
    font-weight: 500;
}

header p:hover {
    color: #000000;
    transition: 1s; 
}


main{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 25px;
}
main a{
    background: #D20062;
    padding: 15px 0;
    text-decoration: none;
    color: #ffebeb;
    border-radius: 3px;
    box-shadow: 10px 10px #ff96ca;
    transition: all .5s ease-in-out;
}
main a:hover{
    opacity: .85;
    color: black;
}
.footer{
    position: absolute;
    bottom: 10px;
    color: #fff;
    font-size: 1rem;
}
@media (max-width: 520px){
    section{
        width: 90%;
        padding: 30px;
    }
    header img{
        width: 100px;
    }
    header h3{
        font-size: 1.3rem;
    }
    main{
        gap: 15px;
    }
    main a{
        padding: 10px 0;
        box-shadow: 5px 5px #eeaeca;
    }
}


button {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Cor do fundo do botão */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #333; /* Cor do texto do botão */
}

button:hover {
    background-color: rgb(183, 50, 196); /* Cor do fundo do botão ao passar o mouse */
}
